/*PAGE LAYOUT*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7F7;
}

a {
    text-decoration: none;
    color: white;
}

html {
    height: 100%;
}

#topArea {
    background-color:#47433F;
    height: 100px;
    min-height: 100px;
}

div.spacer {
    background-color:#4A8;
    height: 7px;
}

#topNav {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: #47433F;
}

#logoText {
    padding: 25px 0 0 0;
    color: #E4EC04;
    text-align: center;
}

#logoSubText {
    color: #AAA;
    text-align: center;
    font-style: italic;
    padding-left: 180px;
}

#logoColour {
    color: #E4EC04;
    padding: 25px 0 0 0;
    color: #E4EC04;
    text-align: center;
}

#navArea {
    background-color: #47433F;
}

#navList {
    width: 980px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#navigationBar {
    background-color: #47433F;
    padding-bottom: 0px;
    margin-bottom:0px;
}

.navItemSelected {
    background-color: #4A8;
    float:left;
    list-style: none;
    padding: 10px 20px 10px 20px;
    margin: 0 0 0 10px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 20px;
    max-height: 20px;
}

.navItem {
    background-color: #5A5A5A;
    float:left;
    list-style: none;
    padding: 10px 20px 10px 20px;
    margin: 0 0 0 10px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 20px;
    max-height: 20px;
}

#content {
    background-color: #F7F7F7;
}

.contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: #F7F7F7;
}

#leftBox {
    float:left;
    margin: 25px 10px 10px 10px;
    width: 632px;
    min-height: 500px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#leftBoxContent {
    margin: 10px;
    display:block;
}

#leftBoxContent h2 {
    font-family: 'Quattrocento', cursive;
    color: black;
    display:block;
}

.rightBox {
    margin: 15px 10px 10px 10px;
    background-color: #5A5A5A;
    float:left;
    width: 306px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.rightBoxContent {
    margin:10px;
    display:block;
}

.rightBoxContent h3 {
    color: #E4EC04;
    display:block;
}

.rightBoxContent li {
    list-style-type: none;
    color: white;
}

.textBody {
    padding: 10px 0px 20px 0px;
}

.textBody li {
    list-style-type: none;
}

.textBody a {
    color: #00008b;
}

.textBodyRight {
    padding: 10px 0px 20px 0px;
    color: white;
}

.textBodyRight a {
    color: white;
}

.textBodyRight span {
    color: #E4EC04;
}

div.formLabel {
    color: #000000;
    font-family: 'Quattrocento', cursive;
    font-size: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    float: left;
    min-width: 200px;
    min-height: 25px;
    max-height: 25px;
}

div.error {
    font-family: 'Arial', cursive;
    color: #ffffff;
    background-color: #ab0300;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 20px;
    -moz-border-radius: 25px 25px / 25px 25px;
    border-radius: 25px 25px / 25px 25px;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.green {
    color: #fef4e9;
    border: solid 1px #45aa88;
    background: #2d6e59;
    background: -webkit-gradient(linear, left top, left bottom, from(#45aa88), to(#2d6e59));
    background: -moz-linear-gradient(top,  #45aa88,  #45aa88);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#45aa88', endColorstr='#45aa88');
}
.green:hover {
    background: #45aa88;
    background: -webkit-gradient(linear, left top, left bottom, from(#6bffca), to(#2d6e59));
    background: -moz-linear-gradient(top,  #6bffca,  #2d6e59);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6bffca', endColorstr='#2d6e59');
}
.green:active {
    color: #6bffca;
    background: -webkit-gradient(linear, left top, left bottom, from(#45aa88), to(#2d6e59));
    background: -moz-linear-gradient(top,  #2d6e59,  #45aa88);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#45aa88', endColorstr='#45aa88');
}

div.success {
    font-family: 'Arial', cursive;
    background-color: #3bab00;
    color: white;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 20px;
    -moz-border-radius: 25px 25px / 25px 25px;
    border-radius: 25px 25px / 25px 25px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: grey;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: green;
    text-align: center;
}